body {background:url(../img/background/bg-light-2.png) repeat left top;}

a:focus, a:hover {
    text-decoration: none;
}

.modal-vue {display: block!important;}

.pointer{
    cursor: pointer;
}

.white{
    color: white;
}

.bold{
  font-weight: bold;
}

.uppercase{
  text-transform: uppercase;
}

.rightBorderNone {
    border-bottom-right-radius: 0!important;
    border-top-right-radius: 0!important;
}

.leftBorderNone {
    border-bottom-left-radius: 0!important;
    border-top-left-radius: 0!important;
}

.resetPadding {
  padding: 0!important;
}

.resetMargin {
  margin:0 !important;
}

.pRight0{
  padding-right: 0px;
}

.pLeft0 {
  padding-left: 0px;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 3rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.red {
	color: red;
}

.panel-default>.panel-heading {
	font-size: 20px;
	font-weight: bold;
}

.nav>li:hover {
	/*box-shadow: 0 0 8px rgba(0,0,0,0.5);*/
	box-shadow: 0 0 20px rgba(251, 244, 244, 0.8);
}

.navmenu-default .navmenu-nav>li>a, .navbar-default .navbar-offcanvas .navmenu-nav>li>a {
    color: #a9a7a7;
}

.table>tbody>tr>td,
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
	border: 1px solid #ddd;
}

.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
  padding: 5px 7px;
  vertical-align: middle;
  } 

.add-btn-row {
	margin: 20px 0;
}

.navmenu-default, .navbar-default .navbar-offcanvas{
	/*background-color: #282828;*/
	background: url(../img/background/illusion.png) repeat left top;
}

.navmenu-default .navmenu-nav>li>a:hover, .navbar-default .navbar-offcanvas .navmenu-nav>li>a:hover, .navmenu-default .navmenu-nav>li>a:focus, .navbar-default .navbar-offcanvas .navmenu-nav>li>a:focus {
    color: #fff;}

.alert-success {
    background-color: #666469;}

.navmenu-default .navmenu-brand, .navbar-default .navbar-offcanvas .navmenu-brand {
    color: #fff;
}

.navmenu-default .navmenu-brand:hover, .navbar-default .navbar-offcanvas .navmenu-brand:hover, .navmenu-default .navmenu-brand:focus, .navbar-default .navbar-offcanvas .navmenu-brand:focus{
	 text-shadow: -2px 0px 20px rgba(113, 131, 191, 1); 
     color: #e6a224; 
}

.icon{
	padding-right: 10px;
	font-size: 1.6rem;
	color: #2ab27b;
}

.active-li-menu {
	/*box-shadow: 0 0 8px rgba(113, 107, 107, 0.5);*/
	box-shadow: 0 0 8px rgb(75, 247, 3);
	background: #0a0a0a;
}

.panel-default {
    margin-top: 10px;
}

.nav-bottom {
    margin: 20px 0;
    height: auto !important;
}

.i_block{
  display: inline-block;
}

form .form-control, .form-control{
  height: 32px!important;
}

.btn {padding: 5px 12px!important;}

select {height: 32px!important;}

.modal_content__product{
  min-height: 300px!important;
}

.modal_open{
  overflow: hidden;
}

.modal_open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

/*Animations*/
/* *-enter */ /* *-leave */
/* *-enter-active */ /* *-leave-active */
/* *-enter-to */ /* *-leave-to */

.modal-enter-active {
  animation: opacityToggle .4s; 
}

.fade-leave-active, .modal-leave-active{
  animation: .2s fade forwards ;
}

@keyframes opacityToggle{
  0%{
    opacity: 0;
  }
  25%{
     opacity: 0.3;
  }
  50%{
     opacity: 0.6;
  }
  75%{
    opacity: .8;
  }
  100%{
    opacity: 1;
  }
}

@keyframes fade {
  0%{
    opacity: 0.5;
  }
  25%{
     opacity: 0.4;
  }
  50%{
     opacity: 0.3;
  }
  75%{
    opacity: .2;
  }
  100%{
    opacity: 0;
  }
}


/*end animations*/



.nav-bottom a {
    display: block;
    float: left;
    width: 25%;
    padding: 10px 0;
    border: 1px solid rgba(255,255,255,0.1);
    text-align: center;
    font-size: 20px;
     /*color: #f7b03e;*/
    text-decoration: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.nav-bottom a:hover {
    color: #fff;
    background: #464544;
}

.scrollBar{
  /*max-height: 1000px;*/
  overflow: auto;
}

.scrollBar::-webkit-scrollbar-button {
  background-image:url('');
  background-repeat:no-repeat;
  width:5px;
  height:0px;
}

.scrollBar::-webkit-scrollbar-track {
  background-color:#ecedee;
  /*-webkit-border-radius: 20px;
  border-radius: 20px;*/
}

.scrollBar::-webkit-scrollbar-thumb {
  /*-webkit-border-radius: 20px;
  border-radius: 20px;*/
  background-color:#cfd6dc;
  height: 230px;
}

.scrollBar::-webkit-scrollbar-thumb:hover {
  background-color:#728082;
  /*-webkit-border-radius: 20px;
  border-radius: 20px;*/
}

.scrollBar::-webkit-resizer {
  background-image:url('');
  background-repeat:no-repeat;
  width:5px;
  height:0px
}

.scrollBar::-webkit-scrollbar {
  width: 8px;
  /*-webkit-border-radius: 20px;
  border-radius: 20px;*/
}

.navbar-default .navbar-brand {color: #fff;}

.preview {
    display: none;
}

.fa-eye {
    color: green;
}

/*report*/
.report-date input{height: 36px;}
.report-date {margin-bottom:20px;}
/*end report*/

.padding-10 {
    padding: 10px;
}

.btn-submit {
    padding-left: 32px;
}

.btn-submit-counterpart{padding-left: 28px;}

select {
    border-radius: 5px;
    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.11);
    font-size: 14px;
    color: #55595c;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;}
select>option {
    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.11);
    font-size: 14px;
    color: #55595c;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
}

select#counterparty_type, select#counterparty_id{height: 36px;}

.modal-header .close {
    margin-top: -15px;
    font-size: 4rem;
}

#all-counterparty-tab span.label.label-success{
    padding: 6px 8px;
}

#all-counterparty-tab span.label.label-danger{
    padding: 6px;
}

.visible-lg {
    display: inline-block!important;
}

a.navmenu-brand.visible-md.visible-lg.eng {background: url(../img/flag/usa-flag.png);}
a.navmenu-brand.visible-md.visible-lg.ua{background: url(../img/flag/ukraine-flag.png);}
a.navmenu-brand.visible-md.visible-lg.rus{background: url(../img/flag/russia-flag.png);}

.flags{
    display: inline-block;
    margin-left: 30px;
    position: relative;
    top: 10px;
}

.flags a{
    padding-top: 9px;
}

.flags-sm{
    display: inline-block;
    position: relative;
    top: 10px;
}

.flags-sm a{
    padding-top: 9px;
}
.nav {
    border-top: 1px solid grey;
}

a.navmenu-brand.visible-md.visible-lg.alert-success{
    background-color: transparent;
}

.navbar-toggle {
    margin-top: 14px;
}

.navbar-brand {
    padding-top: 10px;
    margin-left: 45px;
    background: transparent;
}

.navbar{background: #3e3f42;}
/*фильтры*/

li.dropdown {
    background: -webkit-gradient(linear, left top, left bottom, from(#313843), to(#2c343d));
    border-radius: 6px;
    color: white;
}

.filter a.dropdown-item:hover {
    border-radius: 6px;
    color: #2ab27b!important;
}

.filter .nav>li>a:focus{
    background: -webkit-gradient(linear, left top, left bottom, from(#313843), to(#2c343d));
    border-radius: 6px;
}

.filter ul li a {
    padding: 5px 38px;
    display: block;
    font-size: 14px;
}

.filter .nav>li>a:hover{
    background-color: transparent;
}

.nav-pills{
    float: right;
}

.dropdown-toggle::after{
    display: none;
}

a.dropdown-toggle{
    color: #fff;
}

.filter .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
    border-color: #3097D1;
}


ul.filter{
     list-style: none;
    -webkit-padding-start: 0px;
}

.open > a {
    outline: 0;
}

a, area, button, [role="button"], input, label, select, summary, textarea {
    touch-action: manipulation;
}

.open > .dropdown-menu {
    transform: scale(1, 1);
    opacity: 1;
}

.filter input[type="checkbox"] {
  position: absolute;
  clip: rect(0,0,0,0);
}

.filter input[type="checkbox"] + label {
  display: inline-block;
  width:20px;
  height:20px;
  background: #ccc;
  background-image: linear-gradient(#ddd, #bbb);
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: 0 1px white inset;
  text-align: center;
  text-shadow: 0 1px 1px white;
  cursor: pointer;
  border: 3px solid grey;
  
}

.filter input[type="checkbox"]:checked + label,
.filter input[type="checkbox"]:active + label {
  box-shadow: .04em .1em .2em rgba(0,0,0,.6) inset;
  border: 3px solid grey;
  background: green;

}

.filter label {
    margin-bottom: 0px;
    margin-right: 5px;
}

.filter span{
    vertical-align: super;
}


/*фильтры*/


/*авторизация*/
.panel-default>.panel-heading {
    border-bottom: 1px solid #fff;
}

.panel-auth, .panel-reset-pass{
    border: 0px solid #000!important;
    background-color: #00000069;
    border-radius: 10px;
    color: white;
}

.login {
    background-color: transparent!important;
    color: #fff!important;

}
.email, .password {
    font-size: 110%;
    color: #fff;
    box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.8) inset;
        background: rgba(0, 0, 0, 0.3);
}



.panel-auth label {color:#fff;font-size: 16px;}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: red!important;}

.panel-auth .fa.fa-envelope-o,.panel-auth .fa.fa-lock{
    position: relative;
    font-size: 20px;
    top: -28px;
    left: 10px;
    color:#0ed1dc;
}

.panel-auth .fa.fa-lock{
    font-size: 28px;
    top: -31px;
}
   
.panel-auth input{
    padding-left:50px!important;color: white;}

.btn-login{
    width: 100%;
}

.panel-auth .material-switch > input[type="checkbox"] {
    display: none;   
}

.panel-auth .material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 35px;  
}

.panel-auth .material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 35px;
}
.panel-auth .material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 18px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -1px;
    transition: all 0.3s ease-in-out;
    width: 18px;
}
.panel-auth .material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.panel-auth .material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.login-wrapper{
    padding-left: 0px;
}

.forgot, .forgot a {
    padding-left: 0;
    color: #ffe643;
}

.forgot a:hover{color: #ffe643;}

.btn-login {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top, #00adee, #0078a5);
    background: -ms-linear-gradient(top, #00adee, #0078a5);
    background-image: -o-linear-gradient(top, #00adee, #0078a5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}

/*END авторизация*/

/*настройки*/
ul.nav.nav-tabs.tools{
  border-top: none;
  margin-left: 14px;
  border-radius: 0px;
}

ul.nav.nav-tabs.tools>li>a{
  color: black;
}

.tools>.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #f9f6f6!important;
    background-color: #523A34!important;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}

.nav-tabs>li.active>a{
  background: #523A34;
  color: white!important;
}

.nav>li>a:hover {
    text-decoration: none;
    background-color: #b87d4b8a;
}

.company-block{
  
}

.company-item{
  border: 3px solid #efefef;
  background-color: #fff;
  border-radius: 4px;
}

.company-item h2 {
  font-size: 25px;
  font-family: monospace;
  font-style: italic;
}

.company-item input{
  border:none;
}

.company-full-name {
    margin-top: 30px;
    width: 100%;
}

/*.company-item-new .company-full-name::-webkit-input-placeholder {color:black;}*/
/*.company-item-new .company-full-name::-moz-placeholder          {color:black;}/* Firefox 19+ */
/*.company-item-new .company-full-name:-moz-placeholder           {color:black;}/* Firefox 18- */
/*.company-item-new .company-full-name:-ms-input-placeholder      {color:black;}*/


/*.company-logo{
  background-image: url('../img/company-logo/company1.png');
  width: 145px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
}
*/
.company-logo img{
  width:100%;
  /*height:100%;*/
}

.add-new-company{
  float: right;
  width: 75px;
  border-radius: 50px;
}

.control-block{
  border-top: 1px solid #efefef;
  padding: 10px 14px!important;
  background: #e2e2e2;
}

.control-block .btn-danger{
  float: right;
}

.company-item .btn {
  padding-top: 2px!important;
  padding-bottom: 2px!important;
}


/*настройка gender*/
.c-radio {
    margin-right: 4px;
    position: relative;
}
.radio-inline, .checkbox-inline {
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer;
}
.radio input[type="radio"], .radio-inline input[type="radio"] {
    float: left;
    margin-left: -20px;
}
.c-radio input {
    opacity: 0;
    position: absolute;
    margin-left: 0 !important;
}
input[type="radio"]{
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

.c-radio span:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    text-align: center !important;
    font-size: 12px;
    line-height: 18px;
    vertical-align: middle;
}

.fa-circle:before {
    content: "\f111";
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type=radio]:checked+span {
    background-color: #fff;
}

input[type=radio]:checked+span {
    border-color: #67a8e4;
    /*background-color: #67a8e4;*/
}
.c-radio:hover span {
    border-color: #67a8e4;
}

.c-radio span {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: -20px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-right: 5px;
}
.c-radio *{
    cursor: pointer;
}

input[type=radio]:checked+span:before {
    color: #67a8e4;
}
input[type=checkbox]:checked+span:before, input[type=radio]:checked+span:before {
    color: #67a8e4;
    opacity: 1;
    transition: color .3 ease-out;
}

.fa-circle:before {
    content: "\f111";
}
/*END настройка gender*/

.personal-info select{
  padding: 6px 10px;
}

/*выбранная компания*/

.current-company a{
  color:  #e9e7e7!important;
  padding: 5px 0!important;
}

.current-company{
 -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:16px;font-family:arial, helvetica, sans-serif; padding: 5px 0;
  text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #4ba614; background-image: -webkit-gradient(linear, left top, left bottom, from(#4ba614), to(#008c00));
 background-image: -webkit-linear-gradient(top, #4ba614, #008c00);
 background-image: -moz-linear-gradient(top, #4ba614, #008c00);
 background-image: -ms-linear-gradient(top, #4ba614, #008c00);
 background-image: -o-linear-gradient(top, #4ba614, #008c00);
 background-image: linear-gradient(to bottom, #4ba614, #008c00);
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4ba614, endColorstr=#008c00);
 text-align: center;
}

.current-company:hover{
 background-color: #36780f; background-image: -webkit-gradient(linear, left top, left bottom, from(#36780f), to(#005900));
 background-image: -webkit-linear-gradient(top, #36780f, #005900);
 background-image: -moz-linear-gradient(top, #36780f, #005900);
 background-image: -ms-linear-gradient(top, #36780f, #005900);
 background-image: -o-linear-gradient(top, #36780f, #005900);
 background-image: linear-gradient(to bottom, #36780f, #005900);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36780f, endColorstr=#005900);
}

li.current-company:hover {
    box-shadow: 0px -3px 10px rgba(21, 243, 130, 0.8);
}

/************/
.save-company,.edit-company{
  background: none;
    color: #099ff7;
    border-bottom: 1px dotted #099ff7!important;
    /* text-decoration: underline; */
    border: none;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px;
    margin-left: 10px;
    /*font-weight: bold;*/
}

.edit-company:hover,.edit-company:focus,.edit-company:active{
 background: none;
 color: #099ff7;
 box-shadow:none!important;
 border-bottom: 1px dotted blue!important;
}

.edit-company:hover{
  color: blue;
  
}    
.save-company:focus,.save-company:active,.edit-company:focus,.edit-company:active{
  text-shadow: 0px 1px 1px #716d6d!important;

}

.company-item-new{
  border:3px solid #f5b8b8;
  background-color: rgba(255, 171, 206, 0.24); 
  border-radius: 4px;
}

.company-item-new .control-block{
  background: #676767;
}

.save-company{
  padding: 5px 0;
  color:  #ffbd03;
  border-bottom: 1px dotted #ffbd03!important;

}

.save-company:hover,.save-company:focus,.save-company:active{
  cursor: pointer;
  background: none;
  color: #e0960e;
  box-shadow:none!important;
  border-bottom: 1px dotted #e0960e!important;
}

.company-item .fa-floppy-o{
  text-shadow: -1px 0px 2px black!important;
}

.company-item-new input {
  background-color: rgb(255, 235, 243);
  color: black;

}



/*Товар*/

.product-add{
  width: 12%;
  padding-right: 0px;
}









@media (min-width: 1024px) and (max-width: 1199px){
.login-block{width: 40%;}
.gender-label{float: left;}
.product-add{width: 20%;}
}

@media (max-width: 1199px) {
    .preview {display: table-cell;}
    .control-block .btn-danger{ float: none;margin-top: 5%;}
    #company .container h2 {font-size: 24px;}
    .add-new-company {float: left;margin-bottom: 10px;}
    
    .birth-day-label {text-align: left!important;}
}

@media (max-width: 991px) {
   ul.nav.nav-pills {margin-bottom: 12px;}
   a.navmenu-brand.visible-md.visible-lg.hidden-sm.alert-success, .flags{display: none!important;}
   .nav {padding-top: 20px;}
   .personal-info select {padding: 6px 13.5px;}
}

@media (max-width: 767px) {
    .table th, .table td {word-break: break-all;}
    .small-display{display: none;}
    .small-container, .small-column {padding: 0px;}
    /*ul.nav.navmenu-nav {min-height: 950px;}*/
    .login-wrapper{padding-left: 14px;}
    .login-block{    margin-top: 10%;}
    .material-switch{margin-bottom: 5%;}
}

@media (max-width: 360px) {
       ul.nav.navmenu-nav {min-height: 950px;}
       .personal-info select {padding: 6px 10px;}
}

@media (max-width: 320px) {
       .personal-info select {padding: 6px 4px;}
}
